html {
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:root {
  --marquee-elements-displayed: 10;
  --marquee-width: 0px;
  --mainColor: #694066;
  --backgroundColor: #241623;
  --secondaryBackgroundColor: #1A1019;
  /*--mainColor: #E67707;
  --backgroundColor: #994F05;
  --secondaryBackgroundColor: #C06306;*/
  --footerBackgroundColor: #694066;
  --textColor: #F1F7EE;
  --titleTextColor: #F1F7EE;
  --blockColor: #F1F7EE;
  --borderColor: #E67707;
  --footerContainerColor: #F1F7EE;
  /*--linkColor: #FAC6C8;
  --linkHoverColor: #FFEDC9;
  --linkVisitedColor: #D4B9D2;*/
  --linkColor: #F3706E;
  --linkHoverColor: #FBC28A;
  --linkVisitedColor: #F99F44;
  /*--marquee-animation-duration: calc(var(--marquee-elements) * 10s);*/
}

:target 
{
  display: block;  
  visibility: hidden;
  position: relative;   
  top: -80px;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  border-width: 0;
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto Condensed',Arial,sans-serif;
  font-size: 14px;
}

.body-background {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

div {
  display: block;
}

.section {
  padding: 50px;  
}

body .section:nth-of-type(odd) {
  background-color: var(--backgroundColor);   
}

body .section:nth-of-type(even) {
  background: var(--secondaryBackgroundColor);  
}

/*.section:nth-of-type(odd) {
  background-color: var(--backgroundColor);   
}

.section:nth-of-type(even) {
  background: var(--secondaryBackgroundColor);  
}*/

.block {
  color: var(--blockTextColor);
  align-items: center;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 5%;
  padding-right: 5%;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
}

.block:nth-of-type(1+n) {
  padding-top: 50px;
}

body .section:nth-of-type(even) > .block:nth-of-type(even), 
body .section:nth-of-type(odd) > .block:nth-of-type(odd) {
  direction: rtl;  
  text-align: left;
}

body .section:nth-of-type(odd) > .block:nth-of-type(even), 
body .section:nth-of-type(even) > .block:nth-of-type(odd) {
  direction: ltr;
  text-align: right;
}

/*.section:nth-of-type(even) > .block:nth-of-type(even), 
.section:nth-of-type(odd) > .block:nth-of-type(odd) {
  direction: rtl;  
  text-align: left;
}

.section:nth-of-type(odd) > .block:nth-of-type(even), 
.section:nth-of-type(even) > .block:nth-of-type(odd) {
  direction: ltr;
  text-align: right;
}*/

.b-60-40 {
  grid-template-columns: 3fr 2fr;
}

.b-50-50 {
  grid-template-columns: 1fr 1fr;
}

.col-row{
  display: flex;
  width: 100%;
}

.col-50 {
  width: 50%;
}

.block a {
  color: var(--linkColor);
}

.block a:visited {
  color: var(--linkVisitedColor);
}

.block a:hover {
  color: var(--linkHoverColor);
}

.block-text {
  grid-column-start: 1;
  grid-row-start: 1;
}

body .section:nth-of-type(even) > .block:nth-of-type(even) > .block-text, 
body .section:nth-of-type(odd) > .block:nth-of-type(odd) > .block-text {
  direction: ltr;
}

/*.section:nth-of-type(even) > .block:nth-of-type(even) > .block-text, 
.section:nth-of-type(odd) > .block:nth-of-type(odd) > .block-text {
  direction: ltr;
}*/

.block-image {
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  grid-column-start: 2; 
}

.block-title {
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 36px;
  font-weight: bold;
}

.block-description {

}

.social-icons {
  margin-top: 25px;
}

.navigation{
  background: var(--mainColor);
  color: var(--menuTextColor);
  display: grid;
  padding: 30px;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 999;
  grid-column-gap: 20px;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
}

.menu {
  padding-top: 0px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.menu-mobile {
  display: none;
  grid-column-start: 3;
  grid-column-end: 4;
  font-weight: bold;
  text-align: end;
}

.logo {
  margin: 0px;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 20px !important;
  font-weight: 800 !important;
}

.nav-link {
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--textColor);
}

.intro {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding-top: 120px;
  padding-bottom: 50px;
}

.timeline {
  
}

.timeline-part {
  display: grid;
  padding-top: 0px;
  grid-template-columns: 1fr auto 1fr;
}

.timeline-part > .path-part {
  flex-direction: column;
  justify-content: center;
  display: grid;
  height: 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-rows: 1fr 60px 1fr;
}

.timeline-part > .path-part > .path {
  border: 2px dashed green;
  height: 100%;
  width: 0px;
  margin: 0 auto;
  align-self: center;
}

.timeline-part > .path-part > .point {
  background: #09f;
  border-radius: 50%;
  height: auto;
  width: 50px;
  margin: 5px auto;
  text-align: center;
}

.timeline-part > .picture {

}

.timeline-part > .story {

}

/*.timeline-part:nth-child(odd) > .story .text-stick {
  text-align: right;
}*/

.timeline-part:nth-of-type(even) > .story .text-stick {  
  direction: ltr;
  text-align: left;
}

.r-1 {
  grid-row-start: 1;
  grid-row-end: 1;
}

.r-2 {
  grid-row-start: 2;
  grid-row-end: 2;
}

.r-3 {
  grid-row-start: 3;
  grid-row-end: 3;
}

.opening-day {  
  margin-top: 10px;
}

.opening-day:first-of-type {  
  margin-top: 0px;
}

.opening-day > .day {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

.opening-day > .time {
  font-size: 18px;
}

.blur {  
  backdrop-filter: saturate(180%) blur(20px)
}

.delimiter-10-right {
  margin-right: 10px;
}

.delimiter-10-left {
  margin-left: 10px;
}

.delimiter-10-top {
  margin-top: 10px;
}

.delimiter-10-right {
  margin-top: 10px;
}

h1 {
  font-size: 69px;
}

.page-title {
  border-color: var(--borderColor);
  border-style: solid;
  border-width: 8px;
  color: var(--titleTextColor);
  display: inline-block;
  padding: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  font-weight: 700;
  text-shadow: none;
  letter-spacing: 8px;
  line-height: 60px;
  text-transform: uppercase;
}

.page-title-404 {
  color: var(--titleTextColor);
  display: inline-block;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 21px;
  font-size: 100px;
  letter-spacing: 8px;
  line-height: 54px;
  font-weight: 700;
  text-shadow: none;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
}

.page-subtitle {
  color: var(--titleTextColor);
  margin-bottom: 60px;
  font-size: 31px;
  font-weight: 300;
  line-height: 30px;
}

h3 {
  margin-bottom: 10px;
  font-weight: 300;
}

.coming-soon-prompt {
  border-style: none;
  border-width: 1px;
  color: var(--borderColor);
  color: var(--titleTextColor);
  display: block;
  float: left;
  margin-bottom: 20px;
  width: 100%;
  font-size: 25px;
  letter-spacing: 4px;
  text-shadow: none;
  text-transform: uppercase;
}

.disabled {
  pointer-events: none;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 300;
  line-height: 23px;
}

.text-right {
}

.bold {
  font-weight: bold;
}

img {
  height: auto;
  width: auto;
}

.img-404 {
  margin-bottom: 40px;
  width: 80%;
}

.icon-big {
  height: 100px;
  margin: 20px;
}

.icon-contact {
  height: 50px;
  margin-right: 20px;
}

.icon-footer {
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.hide {
  height: 0px;
  width: 0px;
}

.img-link {
  color: transparent !important;
}

.map {
  height: 500px;
  padding: 0px;
}

.map-control {
  width: 100%;
  height: 100%;
}

.contacts .block-title {
  font-size: 40px;
}

.contacts .block-description {
  font-size: 20px;
  line-height: 28px;
}

.footer-section {
  background-color: var(--footerBackgroundColor);
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
  position: static;
}

.footer-container {
  color: var(--footerContainerColor);
  margin-left: auto;
  margin-right: auto;
  width: 40vw !important;
}

.copyright {
  text-align: left;
}

.signature {
  text-align: right;
}

.marquee-gallery {
  height: 100%;
  overflow: hidden;
  padding: 0px;
  position: relative;
}

.marquee-content {
  animation-play-state: running;
  list-style: none;
  display: flex;
  height: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
}

.my-slider-item {
  float: left;
}

.marquee-content li {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  justify-content: center;
  white-space: nowrap;
}

.marquee-image {
  border: 2px solid transparent !important;
  display: block;
  height: 15vh !important;
  object-fit: cover;
  width: auto !important;  
}

@media screen and (max-width:1350px) {
 
  .navigation {
    grid-template-columns: auto 1fr auto;
  }

  .menu {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  
  .footer-container {
    width: 50vw !important;
  }
}

@media screen and (max-width:1200px) {

  .block-description {
    padding-top: 0px;
  }

  .menu {
    display: block;
  }

  .footer-container {
    width: 60vw !important;
  }
}

@media screen and (max-width:1000px) {

  :target 
  {   
    top: -60px;
  }

  .block {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .block-description {
    padding-top: 22px;
  }

  .navigation {
    padding: 20px;
    grid-template-rows: auto auto;
  }

  .menu {
    display: none;
    padding-top: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .nav-link {
    display: block;
    margin: 10px 0px 0px 0px;
  }

  .separate {    
    display: grid;
    grid-template-columns: max-content auto;
  }

  .separate .block-title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
  }

  .separate .block-description {
    margin-left: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
  }

  .footer-container {
    width: 70vw !important;
  }

}

@media screen and (max-width:750px) {

  .col-row{
    display: block;
  }
  
  .col-50 {
    width: 100%;
  }
  
  .col-50:first-of-type {
      margin-top: 5px;
  }

  .block-description {
    padding-top: 0px;
  }

  .intro {
    padding-top: 100px;
  }

  .page-title {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .page-subtitle {
    margin-bottom: 30px
  }

  .icon-big {
    height: 85px;
    margin: 10px;
  }

  .separate .block-title {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .separate .block-description {
    margin-left: 0px;
    grid-column-start: 1;
    grid-column-end: 2;  
  }

  .footer-section {
    padding: 30px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .footer-container {
    width: 85vw !important;
  }

  .copyright {
    text-align: center;
  }

  .signature {
    text-align: center;
  }
}

/*@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
  --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }

  .page-title {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 40px;
  }
}*/