html {
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

:root {
  --marquee-elements-displayed: 10;
  --marquee-width: 0px;
  --mainColor: black;
  --backgroundColor: #343434;
  --secondaryBackgroundColor: darkred;
  --footerBackgroundColor: rgba(107, 104, 104, 0.18);
  --textColor: #333;
  --titleTextColor: #fff;
  --blockColor: black;
  --borderColor: #fff;
  --footerContainerColor: hsla(0, 0%, 100%, 0.52);
  --linkHoverColor: dimgray;
  /*--marquee-animation-duration: calc(var(--marquee-elements) * 10s);*/
}

body {
    background-color: var(--backgroundColor);
    border-width: 0;
    color: var(--textColor);
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 100%;
}

.body-background {
    background-attachment: fixed;
    /*background-image: url("/img/Hero8.jpg");*/
    background-position: center;
    background-size: cover;
}

div {
    display: block;
}

.section {
    padding: 50px;    
}

.section:nth-child(even) {
    background: var(--secondaryBackgroundColor);    
}

.section:nth-child(odd) {
    background-color: var(--backgroundColor);   
}

.block {
    color: var(--blockTextColor);
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    grid-column-gap: 20px;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.block:nth-child(odd) {
    direction: rtl;
}

.b-60-40 {
    grid-template-columns: 3fr 2fr;
}

.b-50-50 {
    grid-template-columns: 1fr 1fr;
}

.block a, .block a:visited {
    color: var(--blockTextColor);
}

.block a:hover {
    color: var(--linkHoverColor);
}

.block-text {
    grid-column-start: 1;
    grid-row-start: 1;
}

.block-image {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    grid-column-start: 2; 
}

.block-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}

.block-description {

}

.block-reverse > .block-image {
    grid-column-start: 1;
}

.block-reverse > .block-text {
    grid-column-start: 2;
}

.social-icons {
    margin-top: 25px;
}

.navigation{
    background: var(--mainColor);
    display: grid;
    padding: 30px;
    color: var(--menuTextColor);
    font-family: Roboto Condensed;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    right: 0px;
    left: 0px;
    z-index: 999;
    position: fixed;
    background-color: var(--mainColor) !important;
}

.nav-link {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--textColor);
}

.logo {
    position: relative;
    margin: 0px;
    font-size: 20px !important;
    font-weight: 800 !important;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 0px;
}

.menu-mobile {
    display: none;
    grid-column-start: 2;
    grid-column-end: 3;
    font-weight: bold;
}

.intro {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    padding-top: 120px;
    text-align: center;
}

.timeline {
    
}

.timeline-part {
    text-align: ri;
}

.timeline-part > .path-part {
    display: grid;
    height: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-template-rows: 1fr 60px 1fr;
    flex-direction: column;
    justify-content: center;
}

.timeline-part > .path-part > .path {
    border: 2px dashed green;
    height: 100%;
    width: 0px;
    align-self: center;
    margin: 0 auto;
}

.timeline-part > .path-part > .point {
    width: 50px;
    text-align: center;
    border-radius: 50%;
    background: #09f;
    height: auto;
    margin: 5px auto;
}

.timeline-part > .picture {

}

.timeline-part > .story {

}

.r-1 {
    grid-row-start: 1;
    grid-row-end: 1;
}

.r-2 {
    grid-row-start: 2;
    grid-row-end: 2;
}

.r-3 {
    grid-row-start: 3;
    grid-row-end: 3;
}

.opening-day {    
    margin-top: 10px;
}

.opening-day > .day {
    font-size: 16px;
    font-weight: bold;
}

.opening-day > .time {
    
}

.blur {    
    backdrop-filter: saturate(180%) blur(20px)
}

.delimiter-10-right {
    margin-right: 10px;
}

.delimiter-10-left {
    margin-left: 10px;
}

.delimiter-10-top {
    margin-top: 10px;
}

.delimiter-10-right {
    margin-top: 10px;
}

h1 {
    font-size: 69px;
}

.page-title {
    border-color: var(--borderColor);
    border-style: solid;
    border-width: 8px;
    color: var(--titleTextColor);
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 8px;
    line-height: 54px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 21px;
    text-shadow: none;
    text-transform: uppercase;
}

.page-title-404 {
    color: var(--titleTextColor);
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 8px;
    line-height: 54px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 21px;
    text-shadow: none;
    text-transform: uppercase;
}

h2 {
    font-size: 50px;
}

.page-subtitle {
    color: var(--titleTextColor);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 31px;
    font-weight: 300;
    margin-bottom: 60px;
    line-height: 30px;
}

h3 {
    font-weight: 300;
    margin-bottom: 10px;
}

.coming-soon-prompt {
    color: var(--borderColor);
    border-style: none;
    border-width: 1px;
    color: var(--titleTextColor);
    display: block;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: none;
    width: 100%;
}

.disabled {
    pointer-events: none;
}

p {
    font-weight: 300;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 10px;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

img {
    height: auto;
    width: auto;
}

.img-404 {
    margin-bottom: 40px;
    width: 80%;
}

.icon-big {
    height: 100px;
    margin: 20px;
}

.icon-contact {
    height: 50px;
    margin-left: 20px;
}

.icon-footer {
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.hide {
    height: 0px;
    width: 0px;
}

.img-link {
    color: transparent !important;
}

.map {
    height: 500px;
    padding: 0px;
}

.map-control {
    width: 100%;
    height: 100%;
}

.contacts .block-title {
    font-size: 40px;
}

.contacts .block-description {
    font-size: 20px;
    line-height: 28px;
}

.footer-section {
    background-color: var(--footerBackgroundColor);
    bottom: 0;
    left: 0;
    padding: 30px;
    position: static;
    right: 0;
}

.footer-container {
    color: var(--footerContainerColor);
    margin-left: auto;
    margin-right: auto;
    width: 40vw !important;
}

.copyright {
    text-align: left;
}

.signature {
    text-align: right;
}

.col-row{
    display: flex;
    width: 100%;
}

.col-50 {
    width: 50%;
}

.marquee-gallery {
  height: 100%;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  height: 100%;
  list-style: none;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px;
  animation-play-state: running;
}

.my-slider-item {
    float: left;
}

.marquee-content li {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  justify-content: center;
  white-space: nowrap;
}

.marquee-image {
  border: 2px solid transparent !important;
  display: block;
  height: 15vh !important;
  object-fit: cover;
  width: auto !important;  
}

@media screen and (max-width:1350px) {
    .footer-container {
        width: 50vw !important;
    }
 
    .navigation {
        grid-template-columns: 1fr auto;
    }
}

@media screen and (max-width:1200px) {
 
    .navigation {
        grid-template-columns: 1fr auto;
    }

    .footer-container {
        width: 60vw !important;
    }
}

@media screen and (max-width:1000px) {
    .footer-container {
        width: 70vw !important;
    }

    .navigation {
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        padding: 20px;
    }

    .menu {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        padding-top: 10px;
        display: none;
    }

    .nav-link {
        display: block;
        margin: 10px 0px 0px 0px;
    }

    .menu-mobile {
        margin: 0px;
        text-align: end;
    }

    .logo {
        margin: 0px;
    }

    .block {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .block-image, .block-reverse > .block-image {
        width: 100%;
        max-height: 450px;
        object-fit: cover;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .block-text, .block-reverse > .block-text {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .separate {        
        grid-template-columns: max-content auto;
        display: grid;
    }

    .separate .block-title {
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .separate .block-description {
        text-align: left;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-left: 20px;
    }
}

@media screen and (max-width:750px) {
    .footer-container {
        width: 80vw !important;
    }

    .icon-big {
        height: 100px;
        margin: 20px;
    }
}

@media screen and (max-width:500px) {
    .intro {
        padding-top: 30px;
    }

    .page-title {
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .page-subtitle {
        margin-bottom: 30px
    }

    .footer-container {
        width: 95vw !important;
    }

    .footer-section {
        bottom: 0;
        left: 0;
        position: static;
        padding: 30px;
        padding-right: 5px;
        padding-left: 5px;
        right: 0;
    }

    .signature {
        text-align: left;
    }

    .col-row{
        display: block;
    }
    
    .col-50 {
        width: 100%;
    }

    .icon-big {
        height: 85px;
        margin: 10px;
    }

    .separate .block-title {
        text-align: left;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .separate .block-description {
        margin-left: 0px;
        grid-column-start: 1;
        grid-column-end: 2;        
    }
}

/*@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }

  .page-title {
      margin-top: 20px;
      margin-left: 40px;
      margin-bottom: 20px;
      margin-right: 40px;
  }
}*/